body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .ag-theme-material .ag-root-wrapper {
    margin: 0;
  }
  
  
  .ag-theme-material .ag-header {
    background-color: #2196F3;
  }
  
  .ag-theme-material .ag-header-cell-text {
    color: white;
  }
  
  .ag-theme-material .ag-cell {
    border-bottom: 1px solid #ddd;
  }
  
  .ag-theme-material .ag-row {
    background-color: #fff;
  }
  
  .ag-theme-material .ag-row:nth-child(even) {
    background-color: #f9f9f9;
  }


  input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20%;
    box-sizing: border-box;
}

.addNew {
  margin: 3% 40% 5% 20%;
}